header {
 display:flex;
 justify-content: space-between;
}

nav {
 display: flex;
 flex-direction: column;
 width: 190px;
}

#lista-cursos {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 gap: 10px;
}

article {
 border: 1px solid;
 padding: 10px;
 text-align: center;
}

@media (max-width: 768px) {
 #lista-cursos {
  grid-template-columns: 1fr;
 }
 header {
   flex-direction: column;
  }
  nav {
   width: 100%;
  }
}
